.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.979980;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.081055;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs0{font-size:28.000000px;}
.fs3{font-size:32.000000px;}
.fs2{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.y3b{bottom:2.483000px;}
.y2{bottom:2.954000px;}
.y29{bottom:3.483000px;}
.y8{bottom:3.695001px;}
.y26{bottom:4.483000px;}
.y32{bottom:4.545000px;}
.y7{bottom:4.633000px;}
.y31{bottom:5.483000px;}
.y2a{bottom:7.507999px;}
.y24{bottom:8.507999px;}
.y2f{bottom:10.443999px;}
.y3a{bottom:10.532000px;}
.y28{bottom:11.532000px;}
.y22{bottom:12.532000px;}
.yb{bottom:14.894001px;}
.ya{bottom:15.832001px;}
.y23{bottom:16.556999px;}
.y17{bottom:17.938000px;}
.y39{bottom:18.580999px;}
.y10{bottom:18.875999px;}
.y25{bottom:20.580999px;}
.y2e{bottom:20.643000px;}
.y2d{bottom:21.580999px;}
.y38{bottom:24.629999px;}
.y37{bottom:26.629999px;}
.y14{bottom:29.136999px;}
.y13{bottom:30.074999px;}
.y36{bottom:34.678999px;}
.y3{bottom:42.550037px;}
.y35{bottom:227.982040px;}
.y34{bottom:246.371977px;}
.y33{bottom:301.426019px;}
.y30{bottom:312.625023px;}
.y2c{bottom:324.674023px;}
.y2b{bottom:352.821023px;}
.y27{bottom:366.820023px;}
.y0{bottom:367.500000px;}
.y21{bottom:385.418022px;}
.y20{bottom:416.865026px;}
.y1f{bottom:442.307013px;}
.y1e{bottom:467.749017px;}
.y1d{bottom:478.948022px;}
.y1c{bottom:490.647024px;}
.y1b{bottom:516.089025px;}
.y1a{bottom:541.531027px;}
.y19{bottom:567.473028px;}
.y18{bottom:592.915032px;}
.y16{bottom:604.114035px;}
.y15{bottom:629.556024px;}
.y12{bottom:640.755027px;}
.y11{bottom:666.197030px;}
.yf{bottom:677.896029px;}
.ye{bottom:703.338025px;}
.yd{bottom:714.537026px;}
.y5{bottom:720.613988px;}
.yc{bottom:725.736026px;}
.y9{bottom:736.935026px;}
.y4{bottom:745.543988px;}
.y6{bottom:748.134027px;}
.y1{bottom:800.122024px;}
.h7{height:13.199000px;}
.h2{height:13.428000px;}
.he{height:14.049000px;}
.hd{height:20.098000px;}
.h3{height:21.546875px;}
.hf{height:23.406250px;}
.h9{height:24.398001px;}
.ha{height:27.441999px;}
.h8{height:27.859375px;}
.hc{height:30.146999px;}
.h6{height:38.306641px;}
.hb{height:38.640999px;}
.h5{height:41.789062px;}
.h10{height:42.244999px;}
.h1{height:393.500000px;}
.h4{height:756.799988px;}
.h0{height:841.900024px;}
.wa{width:36.950001px;}
.w10{width:42.849998px;}
.w9{width:44.000000px;}
.wc{width:44.049999px;}
.w14{width:44.500000px;}
.wb{width:51.099998px;}
.w12{width:58.700001px;}
.w3{width:72.849998px;}
.wf{width:87.050003px;}
.wd{width:93.550003px;}
.w5{width:99.550003px;}
.w11{width:101.250000px;}
.w4{width:113.650002px;}
.w13{width:115.400002px;}
.w15{width:151.199997px;}
.w8{width:226.199997px;}
.w6{width:243.000000px;}
.we{width:370.600006px;}
.w7{width:425.500000px;}
.w1{width:523.000000px;}
.w2{width:595.299976px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.x26{left:4.757999px;}
.x6{left:6.400000px;}
.xe{left:8.944000px;}
.xc{left:10.714000px;}
.x13{left:13.032000px;}
.xb{left:14.807000px;}
.x11{left:16.582000px;}
.x17{left:20.078001px;}
.x15{left:24.022999px;}
.x16{left:26.907000px;}
.x22{left:34.504999px;}
.x27{left:43.891001px;}
.x0{left:51.000000px;}
.x4{left:56.700001px;}
.x1f{left:60.630000px;}
.x29{left:61.790999px;}
.x1c{left:65.080000px;}
.x18{left:69.883002px;}
.x23{left:91.149999px;}
.x9{left:94.621001px;}
.x19{left:126.550001px;}
.x8{left:147.850004px;}
.x24{left:204.550001px;}
.x3{left:240.468998px;}
.x1d{left:244.776007px;}
.x25{left:261.249998px;}
.xa{left:275.249998px;}
.x21{left:286.794013px;}
.x1e{left:310.521002px;}
.xd{left:317.750013px;}
.x1a{left:321.410986px;}
.x20{left:326.466010px;}
.xf{left:353.199995px;}
.x5{left:388.849988px;}
.x10{left:402.800001px;}
.x28{left:431.349988px;}
.x12{left:445.349988px;}
.x7{left:459.699995px;}
.x14{left:480.800001px;}
.x1b{left:495.150007px;}
.x2{left:566.950001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:37.333333pt;}
.fs3{font-size:42.666667pt;}
.fs2{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.y3b{bottom:3.310666pt;}
.y2{bottom:3.938667pt;}
.y29{bottom:4.644000pt;}
.y8{bottom:4.926668pt;}
.y26{bottom:5.977333pt;}
.y32{bottom:6.060000pt;}
.y7{bottom:6.177334pt;}
.y31{bottom:7.310666pt;}
.y2a{bottom:10.010666pt;}
.y24{bottom:11.343999pt;}
.y2f{bottom:13.925332pt;}
.y3a{bottom:14.042666pt;}
.y28{bottom:15.375999pt;}
.y22{bottom:16.709333pt;}
.yb{bottom:19.858668pt;}
.ya{bottom:21.109334pt;}
.y23{bottom:22.075999pt;}
.y17{bottom:23.917333pt;}
.y39{bottom:24.774666pt;}
.y10{bottom:25.167999pt;}
.y25{bottom:27.441333pt;}
.y2e{bottom:27.524000pt;}
.y2d{bottom:28.774666pt;}
.y38{bottom:32.839999pt;}
.y37{bottom:35.506666pt;}
.y14{bottom:38.849332pt;}
.y13{bottom:40.099998pt;}
.y36{bottom:46.238665pt;}
.y3{bottom:56.733383pt;}
.y35{bottom:303.976054pt;}
.y34{bottom:328.495969pt;}
.y33{bottom:401.901358pt;}
.y30{bottom:416.833364pt;}
.y2c{bottom:432.898697pt;}
.y2b{bottom:470.428031pt;}
.y27{bottom:489.093363pt;}
.y0{bottom:490.000000pt;}
.y21{bottom:513.890696pt;}
.y20{bottom:555.820035pt;}
.y1f{bottom:589.742683pt;}
.y1e{bottom:623.665356pt;}
.y1d{bottom:638.597363pt;}
.y1c{bottom:654.196032pt;}
.y1b{bottom:688.118701pt;}
.y1a{bottom:722.041369pt;}
.y19{bottom:756.630704pt;}
.y18{bottom:790.553377pt;}
.y16{bottom:805.485380pt;}
.y15{bottom:839.408031pt;}
.y12{bottom:854.340036pt;}
.y11{bottom:888.262707pt;}
.yf{bottom:903.861371pt;}
.ye{bottom:937.784033pt;}
.yd{bottom:952.716035pt;}
.y5{bottom:960.818651pt;}
.yc{bottom:967.648034pt;}
.y9{bottom:982.580035pt;}
.y4{bottom:994.058651pt;}
.y6{bottom:997.512035pt;}
.y1{bottom:1066.829365pt;}
.h7{height:17.598667pt;}
.h2{height:17.904001pt;}
.he{height:18.732000pt;}
.hd{height:26.797333pt;}
.h3{height:28.729167pt;}
.hf{height:31.208333pt;}
.h9{height:32.530668pt;}
.ha{height:36.589333pt;}
.h8{height:37.145833pt;}
.hc{height:40.195999pt;}
.h6{height:51.075521pt;}
.hb{height:51.521332pt;}
.h5{height:55.718750pt;}
.h10{height:56.326665pt;}
.h1{height:524.666667pt;}
.h4{height:1009.066650pt;}
.h0{height:1122.533366pt;}
.wa{width:49.266668pt;}
.w10{width:57.133331pt;}
.w9{width:58.666667pt;}
.wc{width:58.733332pt;}
.w14{width:59.333333pt;}
.wb{width:68.133331pt;}
.w12{width:78.266668pt;}
.w3{width:97.133331pt;}
.wf{width:116.066671pt;}
.wd{width:124.733337pt;}
.w5{width:132.733337pt;}
.w11{width:135.000000pt;}
.w4{width:151.533335pt;}
.w13{width:153.866669pt;}
.w15{width:201.599996pt;}
.w8{width:301.599996pt;}
.w6{width:324.000000pt;}
.we{width:494.133341pt;}
.w7{width:567.333333pt;}
.w1{width:697.333333pt;}
.w2{width:793.733302pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.x26{left:6.343999pt;}
.x6{left:8.533333pt;}
.xe{left:11.925333pt;}
.xc{left:14.285334pt;}
.x13{left:17.376000pt;}
.xb{left:19.742666pt;}
.x11{left:22.109334pt;}
.x17{left:26.770667pt;}
.x15{left:32.030666pt;}
.x16{left:35.876000pt;}
.x22{left:46.006665pt;}
.x27{left:58.521335pt;}
.x0{left:68.000000pt;}
.x4{left:75.600001pt;}
.x1f{left:80.840000pt;}
.x29{left:82.387999pt;}
.x1c{left:86.773334pt;}
.x18{left:93.177336pt;}
.x23{left:121.533332pt;}
.x9{left:126.161334pt;}
.x19{left:168.733334pt;}
.x8{left:197.133338pt;}
.x24{left:272.733334pt;}
.x3{left:320.625331pt;}
.x1d{left:326.368010pt;}
.x25{left:348.333330pt;}
.xa{left:366.999997pt;}
.x21{left:382.392017pt;}
.x1e{left:414.028003pt;}
.xd{left:423.666684pt;}
.x1a{left:428.547982pt;}
.x20{left:435.288013pt;}
.xf{left:470.933326pt;}
.x5{left:518.466651pt;}
.x10{left:537.066668pt;}
.x28{left:575.133318pt;}
.x12{left:593.799985pt;}
.x7{left:612.933326pt;}
.x14{left:641.066668pt;}
.x1b{left:660.200009pt;}
.x2{left:755.933334pt;}
}
